#redes {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.cards {
    background-color: aquamarine;
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

