body{
    background-color: 
}

.nav_header{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #0b0bb6;
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 0.4rem;
    justify-content: flex-end;
    border: 10px;
    flex-direction: row;
    text-decoration-style: none;

}